.form-button {
  background: $dark-gray;
  color: $white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  cursor: pointer;
  margin-top: 1.5rem;
  outline: none;
}

.form-button:hover {
  opacity: .75;
}

.form-button:disabled {
  opacity: .75;
}

.form-button-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-button-group .form-button:last-of-type {
  margin-left: 10px;
}
