h1 {
  font-family: 'Bungee Inline', cursive;
  color: $black;
  margin: 0;
  font-size: 1.25rem;
}

@media(min-width: $sm) {
  h1 {
    font-size: 1.5rem;
  }
}

@media(min-width: $med) {
  h1 {
    font-size: 2rem;
  }
}
