h1 {
  font-family: 'Bungee Inline', cursive;
  color: $black;
  font-weight: 400;
  margin: 0;
  font-size: 1.25rem;
}

h2 {
  margin: 50px 0 0;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid $light-gray;
}

@media(min-width: $sm) {
  h1 {
    font-size: 1.5rem;
  }
}

@media(min-width: $med) {
  h1 {
    font-size: 2rem;
  }
}
