.confirmation-icon {
  margin-left: 10px;
}

.fa-times {
  color: red;
}

.fa-check {
  color: green;
}

.fa-trash-alt {
  cursor: pointer;
}

.fa-trash-alt:hover {
  color: red;
}

.fa-pencil-alt {
  cursor: pointer;
}

.fa-pencil-alt:hover {
  opacity: .5;
}

.fa-clock, .fa-dumbbell, .fa-flag-checkered, .fa-question-circle {
  font-size: 100px;
}
