.landing {
  position: relative;
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.landing-button {
  // margin-top: 2rem;
}

#videoBackground {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -99;
}

@media(max-width: $sm) {
  #videoBackground {
    display: none;
  }
}
