.main-nav {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.auth-buttons {
  width: 100%;
  text-align: right;
}

.brand-link {
  text-decoration: none;
}

@media(min-width: $sm) {
  .auth-buttons {
    margin-left: auto;
    width: auto;
  }
}
